Package: com.custom.wechatmenucustomizer
Name: WeChatMenuCustomizer
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: WeChat Menu Customizer plugin
Maintainer: Developer
Author: Developer
Section: Tweaks
